<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.cch.control-runner</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>{{PATH}}</string>
    <key>CCH_CONTROL_PAIRING_PATH</key>
    <string>{{PAIRING_PATH}}</string>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>{{CCH_BIN}}</string>
    <string>control</string>
    <string>runner</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{HOME}}/.local/share/cch/control-runner.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/.local/share/cch/control-runner.log</string>
</dict>
</plist>
